.container {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid black;
    border-radius: 6px;
}

.left {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 150px;
    margin-right: 20px;
}

.btn {
    width: 70px;
    margin-bottom: 4px;
    padding: 5px;
    border: 1px dashed violet;
    text-align: center;
}